<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="Actis Development" value="http://nuget.dev.actis.ru/development/nuget/" />
    <add key="Actis Internal" value="http://nuget.dev.actis.ru/nuget/" />
  </packageSources>
</configuration>